In [307]:
#задание 1
#Переведите содержимое файла purchase_log.txt в словарь purchases вида:
#{‘1840e0b9d4’: ‘Продукты’, …}
import json

purchases = {}
list_for_append = []
users = []
with open('C:/Users/belovvs/Downloads/Downloads/purchase_log.txt', 'r', encoding = 'utf-8') as f:
    f.readline()
    for line in f:
        read_string = json.loads(line)
        users.append(read_string['user_id'])
        
        # если ключ уже встречается в словаре, то добавляю в список категорию 
        if read_string['user_id'] in purchases.keys():
            list_for_append = purchases[read_string['user_id']]
            list_for_append.append(read_string['category'])
            list_for_append = list(set(list_for_append)) # убираю дублика, когда в список добавляется такая же категория
            purchases[read_string['user_id']] = list_for_append # получаю словарь юзер:список категорий
        
        else:
            purchases[read_string['user_id']] = [read_string['category']]

users = set(users)
#purchases

In [226]:
len(list(filter(lambda x: len(x)>1, purchases.values()))) # количество юзеров с несколькими УНИКАЛЬНЫМИ категориями

382

In [309]:
list(filter(lambda x: len(x[1])>1, purchases.items())) [0:5] # юзеры с несколькими УНИКАЛЬНЫМИ категориями

[('c9d93ee37c', ['Электроника', 'Продукты']),
 ('6cd9581955', ['Электроника', 'Досуг']),
 ('735284e60a', ['Электроника', 'Бытовая техника']),
 ('66eb0896dd', ['Электроника', 'Продукты']),
 ('2b95759653', ['Электроника', 'Досуг'])]

In [228]:
len(users)

99517

In [229]:
len(purchases)

99517

In [ ]:
#Для каждого user_id в файле visit_log.csv определите третий столбец с категорией покупки 
#(если покупка была, сам файл visit_log.csv изменять не надо). Запишите в файл funnel.csv 
#визиты из файла visit_log.csv, в которых были покупки с указанием категории.

#Учтите условия на данные:
#содержимое purchase_log.txt помещается в оперативную память компьютера
#содержимое visit_log.csv - нет; используйте только построчную обработку этого файла

In [240]:
# посчитаем и выведем количетсво пересечений по юзерам в 2 файлах
my_user_list = []
with open('C:/Users/belovvs/Downloads/Downloads/visit_log.csv', 'r', encoding = 'utf-8') as f:
    f.readline()
    for line in f:
        read_list = line.strip().split(',')
        my_user_list.append(read_list[0])

len(set(my_user_list) & users)

13533

In [299]:
# Запишем результат

with open('C:/Users/belovvs/Downloads/Downloads/visit_log.csv', 'r', encoding = 'utf-8') as f:
    with open ('C:/Users/belovvs/Downloads/Downloads/funnel.csv', 'w') as f_write:
        f.readline()
        for line in f:
            read_list = line.strip().split(',')
            if read_list[0] in purchases.keys():
                category = purchases.get(read_list[0])
                if category != None:
                    f_write.write(json.dumps(read_list[0] + ',' + read_list[1] + ',' + ';'.join(category)) + '\n') 
                


        f_write.close()

In [310]:
# Проверю что записал
users_from_my = []
i=0
ds = []
with open ('C:/Users/belovvs/Downloads/Downloads/funnel.csv', 'r') as f_write:
    f_write.seek(0)
    for line in f_write:
        dd = json.loads(line).strip().split(',')
        users_from_my.append(dd[0])
        ds.append(dd)
ds[0:5]

[['1840e0b9d4', 'other', 'Продукты'],
 ['4e4f90fcfb', 'context', 'Электроника'],
 ['afea8d72fc', 'other', 'Электроника'],
 ['2824221f38', 'email', 'Продукты'],
 ['373a6055fe', 'other', 'Бытовая техника']]

In [301]:
# количество записей не сходится с количеством уникальных юзеров, получаются юзеры дублируются
print(len(users_from_my))
print(len(set(users_from_my)))

13798
13533

In [303]:
# посмотрим как записались несколько категорий
df[df[0] =='c9d93ee37c']

              0        1                     2
339  c9d93ee37c  context  Электроника;Продукты

In [302]:
# найдем дублирующихся юзеров и покажем пример
import pandas as pd
df = pd.DataFrame(ds)
pd.DataFrame(ds).groupby(0).count().reset_index().sort_values(1, ascending=False)

df[df[0] =='f65310cc74']

               0        1            2
650   f65310cc74    other  Электроника
3880  f65310cc74  context  Электроника
5271  f65310cc74  context  Электроника

In [241]:
# По заданию недоконца понятно, что нужно сделать. Можно было бы объединить source в список.