In [ ]:
import pandas as pd

In [ ]:
#Задание 1
#Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.


films = pd.read_csv('/Users/lvkb97/Downloads/ml-latest-small/movies.csv')
raiting = pd.read_csv('/Users/lvkb97/Downloads/ml-latest-small/ratings.csv')

films_with_5 = films.merge(raiting, on = 'movieId').query('rating >= 5.0').groupby(['movieId', 'title']).count()\
    .reset_index()[['movieId', 'title', 'rating']]

top_film = films_with_5[films_with_5['rating']==films_with_5['rating'].max()]
top_film

In [ ]:
#Задание 2
#По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
#Не учитывайте в расчетах отрицательные значения quantity.

df = pd.read_csv('/Users/lvkb97/Downloads/10._Основы_pandas/power.csv')
df[((df['country'].isin(['Lithuania', 'Latvia', 'Estonia']))) \
   & (df['category'].isin([4, 12, 21])) \
   & ((df['year'] >= 2005) & (df['year'] <= 2010))
   & (df['quantity'] >= 0)]['quantity'].sum()

In [ ]:
#Задание 3
#Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
#Примеры страниц (необязательно брать именно эти):
#https://fortrader.org/quotes
#www.finanz.ru...om-vremeni
pd.read_html('https://fortrader.org/quotes')[1]

                              Название    Цена  ...  Изменение(%)  Обновлено
0       Нефть Brent Курс нефти сегодня   94.94  ...         -0.09        NaN
1          Нефть WTI Цены на нефть WTI   93.73  ...         -0.13        NaN
2  Природный газ Цена на природный газ    4.00  ...         -0.17        NaN
3                                 Кофе  252.75  ...          0.00        NaN
4                             Кукуруза  650.00  ...          0.00        NaN
5                                  Соя  452.70  ...         -0.61        NaN
6                               Хлопок  125.28  ...          0.00        NaN

[7 rows x 5 columns]